/* Container for centering the login form */
.login-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
  padding-left: 400px;
  background-image: url('homepage.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center;
  font-family: Arial, sans-serif;
}

.login-header {
  position: absolute; /* Positioning it to the top-left */
  top: 100px;
  left: 120px;
  text-align: left;
}

.login-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.login-header h2 {
  font-size: 1.5rem;
  color: #2c84cc;
  margin-bottom: 0;
}

/* Styling the login form */
.login-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for readability */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the form title */
.login-form h2 {
  text-align: center;
  color: #333;
}

/* Styling labels */
.login-form label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  color: #333;
}

/* Styling input fields */
.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.forgot-password-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.forgot-password-form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.forgot-password-form button {
  padding: 15px 15px;
  margin-top: 20px;
  background-color: #3eb7c7;
  color: white;
  border: none;
  cursor: pointer;
}

.forgot-password-form button:hover {
  background-color: #3db4c4;
}

/* Styling the submit button */
.login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #3fbccd;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #039cb0;
}

